{{ define "term/index.html" }}
{{ template "term/header.html" . }}
<a href="/term/create" class="btn btn-primary float-end">
    <i class="bi bi-plus-circle"></i>
    新增终端
</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">序列号</th>
        <th scope="col">SIM</th>
        <th scope="col">状态</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Terms }}
    <tr>
        <th scope="row">{{ .SN }}</th>
        <td>{{ .SIM }}</td>
        <td>
            {{ if .Status }}
            <span class="badge bg-success">在线</span>
            {{ else }}
            <span class="badge bg-danger">离线</span>
            {{ end }}
        </td>
        <td>
            <a class="btn btn-primary btn-sm">
                <i class="bi bi-pencil-square"></i>
            </a>
            <button type="button" class="btn btn-danger btn-sm">
                <i class="bi bi-trash-fill"></i>
            </button>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ template "term/footer.html" . }}
{{ end }}